#video-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 1vh;
  background: black;
  z-index: 100;
}
#video-progress .progress {
  background: rgba(255,0,0,1);
  width: 1vw;
  height: 1vh;
  /*transition: all 0.1s ease;*/
}

.center-marker {
  position: fixed;
  width: 2vmin;
  height: 1vmin;
  background: rgba(255,255,255,0.8);
  z-index: 101
}


#experience-progress {
  position: fixed;
  top: 0;
  right: 0;
  width: 1vmin;
  height: 100vh;
  background: black;
  z-index: 100;
}
#experience-progress .progress {
  background: rgba(255,0,0,1);
  opacity: 0.7;
  width: 1vmin;
  height: 100vh;
  margin-top: -100vh;
  transition: transform 0.3s ease;
}

::-webkit-scrollbar {
    display: none;
}

.control-play {
  position: fixed;
  top: 3vmin;
  right: 3vmin;
  color: white;
  z-index: 1;
  cursor: pointer;
}

#togglePlay {
  font-size: 5vmin;
  margin-right: 5vmin;
}

.control-play i {
  font-size: 8vmin;
  text-shadow: 0 0.5vmin 1vmin rgba(0,0,0,0.5)
}
#unsupported {
  margin: 0 auto;
  text-align: center;
  margin: 50px;
  display: none;
}
